*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
}

.navbar{
    background: #A8370D;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0px 7px 4px rgba(0, 0, 0, 0.35);
}

.navbar__container{
    display: flex;
    justify-content: space-between;
    height: 35px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 22px;
}

#navbar__logo{
    -webkit-text-fill-color: #FFFACD;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    font-family: "Oleo Script Swash Caps", system-ui;
    font-weight: 300;
    font-style: normal;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5rem;
}

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item{
    height: 35px;
}

.navbar__links{
    color:#FFFACD;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    position: relative;  
    transition: background-color 0.3s ease;
}

.navbar__links:hover, 
.navbar__links:active {
    background-color: teal;    
    color: #FFFACD;  
}

@media screen and (max-width: 960px){
    .navbar__container{
        display: flex;
        justify-content: space-between;
        height: 40px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 40vh;
        z-index: -1;
    }

    .navbar__menu.active{
        background: #262626;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 40vh;
        font-size: 1.1rem;
    }

    #navbar__logo{
        padding-left: 20px;
    }

    .navbar__toggle .bar{
        width: 20px;
        height: 3px;
        margin: 4px auto;
        transition: all 0.3s ease-in-out;
        background:#FFFACD;
    }

    .navbar__item{
        width: 100%;
        height: 100%;
        font-size: 15px;
    }

    .navbar__links{
        text-align: center;
        padding: 12px;
        width: 100%;
        display: table;
    }

    #mobile-menu{
        position: absolute;
        top: 8%;
        right: 5%;
        transform: translate(5%, 8%);
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(7.1px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-7.1px) rotate(-45deg);
    }
}

/* Search Bar section */

.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    background-color: #FFFACD;
}

.search-background {
    position: relative;
    width: 100%;
    max-width: 1330px;
    background-image: url(img/Kellogg-to-split-into-three-separate-businesses.png);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    padding: 70px 50px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin: 0 auto;
}

.search-bar {
    z-index: 1;
    width: 100%;
    max-width: 700px;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-radius: 15px;
    overflow: hidden; 
}

.search-bar input {
    background-color: #fff;
    flex: 1;
    padding: 10px 8px;
    border: 0;
    outline: none;
    font-size: 1.2rem;
    color: #262626;
}

::placeholder {
    color: #262626;
}

.search-bar button {
    border: 0;
    border-radius: 0 15px 15px 0; 
    width: 60px;
    height: 45px;
    background: #ddd;
    cursor: pointer;
}

.search-bar button img {
    width: 25px;
    height: auto;
}

.search-bar button:hover {
    background: teal;
}

/* Product list section */
.product-page {
    background-color: #FFFACD;
}

.buttons-line-section {
    display: flex;
    align-items: center;
    padding-left: 20px; 
    background-color: #FFFACD;
}

.buttons-section {
    display: flex;
    justify-content: flex-start;
}

.buttons-section button {
    margin-right: 10px;
    padding: 10px 20px;
    font-family: "Jockey One", sans-serif;
    font-size: 1.5rem;
    background-color: #FFFACD;
    color: #262626;
    border: #262626 solid 2px;
    border-radius: 20px;
    cursor: pointer;
}

.buttons-section button.active,
.buttons-section button:hover {
    background-color: #A8370D;
    color: #FFFACD;
    border: transparent;
}

.line {
    flex-grow: 1;
    height: 2px;
    background-color: #262626; 
    margin-right: 20px;
}

.product-list {
    display: none; 
}

.product-item {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: calc(33.333% - 20px);
}

.product-item img {
    max-width: 100%;
    border-radius: 10px;
}

.product-list.adults.visible {
    display: flex;
}

.product-list.kids.visible {
    display: flex;
}

.product-list.seniors.visible {
    display: flex;
}

@media (max-width: 576px) {
    .search-section {
        padding: 10px 20px;
    }
    .search-background {
        border-radius: 10px;
        padding: 30px 15px;
    }
    .search-background::before {
        border-radius: 10px;
    }
    .search-bar {
        width: 65%;
    }
    .search-bar input {
        font-size: 0.9rem;
        padding: 8px 6px;
    }
    .search-bar button {
        width: 40px;
        height: 35px;
    }
    .line {
        display: none;
    }
    .buttons-section {
        justify-content: center;
        align-items: center;
    }
    .buttons-section button {
        margin-right: 10px;
        padding: 8px 18px;
        font-size: 1rem;
        border-radius: 13px;
    }
}

/* Product Section */

.product-page {
    background-color: #FFFACD;
    padding: 70px;
}

.buttons-line-section {
    display: flex;
    align-items: center;
    padding-left: 20px; 
    background-color: #FFFACD;
}

.buttons-section {
    display: flex;
    justify-content: flex-start; 
}

.buttons-section button {
    margin-right: 10px;
    padding: 10px 20px;
    font-family: "Jockey One", sans-serif;
    font-size: 1.5rem;
    background-color: #FFFACD;
    color: #262626;
    border: #262626 solid 2px;
    border-radius: 20px;
    cursor: pointer;
}

.buttons-section button.active,
.buttons-section button:hover {
    background-color: #A8370D;
    color: #FFFACD;
    border: transparent;
}

.line {
    flex-grow: 1;
    height: 2px;
    background-color: #262626; 
    margin-right: 20px;
}

.product-list {
    display: none; 
}

.product-list.visible {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0px;
    gap: 20px; 
}

.product-card {
    background-color: #fff;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 250px; 
    min-width: 10px;
    text-align: center;
    padding: 10px;
    transition: transform 0.3s;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.product-card h3 {
    font-size: 1.2rem;
    font-family: "Luckiest Guy", cursive;
    align-items: left;
    color: #333;
    margin: 10px 0;
}

.product-card p {
    color: #666;
    margin-bottom: 15px;
}

.product-card .price {
    font-size: 1.1rem;
    color: #A8370D;
    font-weight: bold;
}

.product-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #fff;
}

.product-card:hover img{
    transform: rotate(10deg);
}

@media (max-width: 992px) {
    .product-item {
        flex: 1 1 calc(50% - 20px); 
    }
}

@media (max-width: 768px) {
    .search-section {
        padding: 10px 20px;
    }
    .search-background {
        border-radius: 10px;
        padding: 30px 15px;
    }
    .search-background::before {
        border-radius: 10px;
    }
    .search-bar {
        width: 65%;
    }
    .search-bar input {
        font-size: 0.9rem;
        padding: 8px 6px;
    }
    .search-bar button {
        width: 40px;
        height: 35px;
    }
    .line {
        display: none;
    }
    .buttons-section {
        justify-content: center;
        align-items: center;
    }
    .buttons-section button {
        margin-right: 10px;
        padding: 8px 18px;
        font-size: 1rem;
        border-radius: 13px;
    }
    .product-card {
        flex: 1 1 calc(50% - 20px); 
    }
}

@media (max-width: 576px) {
    .product-card {
        flex: 1 1 calc(100% - 20px); 
    }
}
/* Footer Section */

.footer-section {
    position: relative; 
    z-index: 10; 
    background-color: #262626;
    color: #FFFACD;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.footer-brand h2 {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 2rem;
    margin: 0 0 20px 0;
}

.footer-brand p {
    font-family: "Jockey One", sans-serif;
    font-size: 1.2rem;
    margin: 10px 0;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 15px; 
}

.social-icons {
    display: flex;
    align-items: left;
    gap: 10px; 
}

.social-icons a {
    padding: 1px;
}

.social-icons img {
    width: auto;
    height: 30px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

.footer-links h3, .footer-contact h3 {
    border-radius: 10px;
    font-family: "Jockey One", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #FFFACD;
}

.footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    color: #FFFACD;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: blue; 
}

.footer-contact p {
    margin: 0 0 10px 0;
}

.footer-contact a {
    color: #FFFACD;
    text-decoration: none;
}

.footer-contact a:hover {
    color: blue; 
}

@media(max-width: 768px){
    .footer-container{
        gap:10px
    }
    .footer-brand p {
        font-size: 1rem;
    }

    .social-icons img {
        width: auto;
        height: 25px;
        transition: transform 0.3s;
    }

    .footer-links h3{
        font-size: 1.3rem;
    }

    .footer-contact h3 {
        align-self: flex-start;
        border-radius: 10px;
        font-size: 1.3rem;
        margin-bottom: 10px;
        color: #FFFACD;
        align-items: left;
    }
    
    .footer-links ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .footer-links a {
        color: #FFFACD;
        text-decoration: none;
        transition: color 0.3s;
    }
    
    .footer-contact p, a {
        font-size: 0.8rem;
    }
}